/* actual sxns */
body {
    background-image:url(https://us.123rf.com/450wm/sunspire/sunspire1605/sunspire160500434/57120977-vector-modern-abstract-geometry-psychadelic-pattern-black-and-white-seamless-geometric-crazy-backgro.jpg?ver=6);
    background-repeat: repeat;
    background-size: 30%;
}
/* Classes */
.mainDiv {
    background-color: white;
    border: 2px solid #17a2b8;
    border-radius: 12px;
    padding: 20px;
    margin-top: 40px;
    opacity: 0.96;
}

.instructions {
    text-align: center;
}

/* IDS */
#gameTitle {
    text-align: center;
    margin: 20px;
    color: #17a2b8;
}

#show-timer {
    text-align: center;
}

/* #beginGame {

} */